*{
    margin: 0;
     
      text-align: center;
     overflow: hidden;
      background: #ecf0f3;
      
}
#mylove{
    position: relative;
     height: 80vh;
      width: 90vh;
       box-sizing: border-box;
        border-radius: 20px;
       align-items: center;
       margin: auto;
       margin-top: 20px;
       text-align: center;
       justify-content: center;
     box-shadow:  14px 14px 14px 20px #cbced1,-14px -14px 14px 20px #cbced1 ;
}
h2{
    margin-top: 20px;
     margin-bottom: 20px;
      text-align: center;
      color: rgb(61, 37, 37);
       
    
}

input{
     
     margin: auto;
      text-align: center;
      margin-top: 25px;
      margin: 10px;
       width: 150px;
       height: 30px;
       outline: none;
        border: none;
         border-radius: 50px;
          box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
 }
  input::placeholder{
      color: gray;
  }
  .th{
       margin-top: 20px;
      margin: 10px;
       display: block;
         color: rgb(59, 35, 35);
        }
         button{
               margin-left:90px;
             outline: none;
             border: none;
              border-radius: 10px;
              background-color: rgb(102, 90, 90);
            padding: 10px;
             }

             
           #show{
                margin:auto;
                 margin-top: 20px;
                 width: 400px;
                 border: 5px rgb(80, 54, 54) solid;
        }
         #tab{
              margin: auto;
         }