 input{
     display: inline-block;
    margin: 5px;
 }
  label{
       display:block;
        margin: 5px;
  }
   #form{
       justify-content: center;
        display: center;
        align-items: center;
        ;
   }